{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Cadastrar Modelo</h2>

  <form method="post" class="col-md-6">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.nome.errors }}
      {{ form.nome.label_tag }}
      {{ form.nome }}
    </div>

    <div class="mb-3">
      {{ form.marca.label_tag }}
      {{ form.marca }}
      <a class="btn btn-primary" href="{% url 'marca:cadastrar_marca' %}">Deseja cadastrar uma nova marca?</a>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>

{% endblock %}
