{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Editar Modelo</h2>

  <form method="post" class="col-md-6">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.nome.label_tag }}
      {{ form.nome }}
      <div class="form-text">{{ form.nome.help_text }}</div>
    </div>

    <div class="mb-3">
      {{ form.marca.label_tag }}
      {{ form.marca }}
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'modelo:listar_modelos' %}" class="btn btn-outline-secondary">Cancelar</a>
  </form>
</div>

{% endblock %}
