{% extends 'base.html' %}

{% block content %}

<body>
    <div class="form-container">
        <div class="form-card shadow">
            <div class="form-card-header bg-primary text-white">
                <h2 class="mb-0">Editar Modelo</h2>
            </div>

            <div class="form-card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{ form.nome.id_for_label }}" class="form-label">
                            {{ form.nome.label }}
                        </label>
                        {{ form.nome }} <!-- Já virá com a classe form-control -->
                        {% if form.nome.errors %}
                        <div class="text-danger">
                            {{ form.nome.errors }}
                        </div>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-between">
                        <a href="{% url 'marca:listar_marcas' %}" class="form-btn form-btn-secondary">
                            Cancelar
                        </a>
                        <button type="submit" class="form-btn form-btn-primary">
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}