:root {
    --AzulClaro: #3498db;   
    --AzulEscuro: #060673;   
    --CianoEscuro: #2c3e50;    
    --Vermelho: #e74c3c; 
    --Vinho: #730614;      
    --Branco: #ecf0f1;         
    --Cinza: #333;             
    --CinzaClaro: #7f8c8d;  
    --VerdeClaro: #04cf12;
    --VerdeEscuro: #07660d;
    --Amarelo: #fff700;
    --AmareloEscuro: #696502;

}