{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">Editar Modelo</h1>

    <form method="post" class="col-md-6">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.nome.label_tag }}
            {{ form.nome|add_class:"form-control" }}
            {% if form.nome.help_text %}
                <div class="form-text">{{ form.nome.help_text }}</div>
            {% endif %}
            {% if form.nome.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.nome.errors }}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'marca:listar_marcas' %}" class="btn btn-outline-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}
