{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Cadastrar Produto</h2>

  <form method="post" class="col-md-6">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.nome.label_tag }}
      {{ form.nome }}
    </div>

    <div class="mb-3">
      {{ form.preco.label_tag }}
      {{ form.preco }}
      {{ form.preco.errors }}
    </div>

    <div class="mb-3">
      {{ form.quantidade.label_tag }}
      {{ form.quantidade }}
      {{ form.quantidade.errors }}
    </div>

    <div class="mb-3">
      {{ form.cor.label_tag }}
      {{ form.cor }}
    </div>

    <div class="mb-3">
      {{ form.tamanho.label_tag }}
      {{ form.tamanho }}
    </div>

    <div class="mb-3">
      {{ form.marca.label_tag }}
      {{ form.marca }}
    </div>

    <div class="mb-3">
      {{ form.descricao.label_tag }}
      {{ form.descricao }}
    </div>

    <div class="mb-3">
      {{ form.categoria.label_tag }}
      {{ form.categoria }}
    </div>

    <div class="mb-3">
      {{ form.modelo.label_tag }}
      {{ form.modelo }}
      <a class="btn btn-primary" href="{% url 'modelo:cadastrar_modelo' %}">Deseja cadastrar um novo modelo?</a>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success mt-3" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <a href="{% url 'produtos:listar_produtos' %}" class="btn btn-primary mt-3">Voltar</a>
  </form>
</div>

{% endblock %}
