:root {
    --AzulClaro: #3498db;   
    --AzulEscuro: #4a4ac8;   
    --CianoEscuro: #374c61;    
    --VermelhoClaro: #e74c3c; 
    --Vermelho: #e05141;
    --Vinho: #730614;      
    --Branco: #ecf0f1;         
    --Cinza: #333;             
    --CinzaClaro: #7f8c8d;  
    --VerdeClaro: #04cf12;
    --VerdeEscuro: #07660d;
    --Amarelo: #fff700;
    --AmareloEscuro: #696502;

}