{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
  <h2 class="mb-4 text-center">
    {% if funcionario %}Editar{% else %}Cadastrar{% endif %} Funcionário
  </h2>

  <form
    action="{% if funcionario %}{% url 'funcionarios:editar_funcionario' funcionario.id %}{% else %}{% url 'funcionarios:cadastrar_funcionario' %}{% endif %}"
    method="POST">
    {% csrf_token %}

    <div class="mb-3">
      <label for="nome" class="form-label">Nome do funcionário:</label>
      <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o nome aqui"
        value="{{ funcionario.nome|default_if_none:'' }}" required>
    </div>

    <div class="mb-3">
      <label for="cargo" class="form-label">Cargo:</label>
      <input type="text" id="cargo" name="cargo" class="form-control" placeholder="Digite o cargo aqui"
        value="{{ funcionario.cargo|default_if_none:'' }}" required>
    </div>

    <div class="mb-3">
      <label for="telefone" class="form-label">Número de telefone:</label>
      <input type="tel" id="telefone" name="telefone" class="form-control" placeholder="Digite o telefone com DDD"
        pattern="\d{11}" title="Digite 11 números, incluindo o DDD"
        value="{{ funcionario.telefone|default_if_none:'' }}" required>
    </div>

    <div class="text-end">
      <input type="submit" class="btn btn-success"
        value="{% if funcionario %}Salvar Alterações{% else %}Cadastrar Funcionário{% endif %}">
    </div>
  </form>
</div>

{% endblock %}
