{% extends 'base.html' %}
{% block content %}
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Cadastrar Venda</h2>
    
    <form method="post" enctype="multipart/form-data" class="col-md-6">
      {% csrf_token %}
        {{form.messages.errors}}      
        {{ form.as_p}}
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}